<div>
  <div ng-if="c.isNative">
    <!-- your widget template -->
    <div class="intro-state"
         ng-if="!c.barcode && !c.done">
      <h1>Having an issue?</h1>
      <h1>Let us help!</h1>
      <p>Click below to scan the QR code for your broken appliance.</p>
      <k17-arrow></k17-arrow>
    </div>
    
    <!-- Loading state - waiting for asset modal to open up -->
    <div ng-if="c.barcode && !c.done">
      <h1>
        Loading...
      </h1>
    </div>

    <div ng-if="c.done && c.success">
      <h1>
        Success!! Thanks for creating this incident.
      </h1>
    </div>
    
    
    <div ng-if="c.done && !c.success">
      <h1>
        ERROR! Something broke! Shoot!
      </h1>
      {{c.barcode}}
      {{c.modalurl}}
    </div>
    
  </div>
  <div ng-if="!c.isNative">
    <h1>
      Whoops... this only works in the mobile app.
    </h1>
    {{data.instanceURI}}
  </div>
</div>
